<div>
  <form #taskForm="ngForm" (ngSubmit)="createTask(); taskForm.reset()">
    <div>
      <input name="task" type="text" placeholder="task" [(ngModel)]="taskModel.text" required>
    </div>
    <div>
      <input type="submit" value="Create Task" [disabled]="!taskForm.form.valid">
    </div>
  </form>
</div>

<ul>
  <li *ngFor="let task of tasks | async">
    <input (change)="updateTask(task)" type="checkbox" [(ngModel)]="task.done">
    {{ task.text }}
    <button (click)="deleteTask(task)">Delete</button>
  </li>
</ul>
